[submodule "dice-simulator"]
	path = dice-simulator
	url = git@github.com:Silent-Crafter/endsem-dice.git
[submodule "calculator"]
	path = calculator
	url = git@github.com:Silent-Crafter/simple-calculator.git
